{
    "ExternalCommands": [
        {
            "External_Command_ID": "Bounce",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Bounce",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Die",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Die",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 0.4,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Bullet",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Bullet",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 0.4,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "DrumBounce",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "DrumBounce",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "HitCymbal",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "HitCymbal",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 0.4,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Jump",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Jump",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "OpeningGlassDoors",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "OpeningGlassDoors",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Start_Glide",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Start_GlideLeft",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 0.4,
                            "Spatialization": "Left",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Waist"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "Start_GlideRight",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 0.4,
                            "Spatialization": "Right",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Waist"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Start_GlideOnTheWind",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Start_GlideOnTheWind",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.4,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "Start_GlideOnTheWindChest",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "Start_GlideOnTheWindLeg",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "Start_GlideOnTheWindWaist",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Start_Playing_Violon",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Start_Playing_ViolonLeft",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Chest"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "Start_Playing_ViolonRight",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Chest"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Start_Slide",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Start_Slide",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.4,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "Start_SlideChest",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "Start_SlideLeg",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "Start_SlideWaist",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Start_Sticking",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Start_Sticking",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "Start_Sticking",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.4,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "Start_StickingChest",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "Start_StickingWaist",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "Start_StickingLeg",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Start_WallSlideLeft",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Start_WallSlideLeft",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 0.4,
                            "Spatialization": "Right",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Waist"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Start_WallSlideRight",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Start_WallSlideRight",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 0.4,
                            "Spatialization": "Left",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Waist"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Stop_Glide",
             "Interrupts_Commands": [
				"Start_Glide"
			]
        },
        {
            "External_Command_ID": "Stop_GlideOnTheWind",
              "Interrupts_Commands": [
				"Start_GlideOnTheWind"
			]
        },
        {
            "External_Command_ID": "Stop_Playing_Violon",
             "Interrupts_Commands": [
				"Start_Playing_Violon"
			]
        },
        {
            "External_Command_ID": "Stop_Slide",
            "Interrupts_Commands": [
				"Start_Slide"
			]
        },
        {
            "External_Command_ID": "Stop_Sticking",
            "Interrupts_Commands": [
				"Start_Sticking"
			]
        },
        {
            "External_Command_ID": "Stop_WallSlideLeft",
            "Interrupts_Commands": [
				"Start_WallSlideLeft"
			]
        },
        {
            "External_Command_ID": "Stop_WallSlideRight",
             "Interrupts_Commands": [
				"Start_WallSlideRight"
			]
        },
        {
            "External_Command_ID": "Ui_Interaction",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Ui_Interaction",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 0.4,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        }
                    ]
                }
            ]
        }
    ]
}
