{
    "ExternalCommands": [
        {
            "External_Command_ID": "EARTHQUAKE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "EARTHQUAKE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "BATTLE_ATTACK_PHYSICAL",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "BATTLE_ATTACK_PHYSICAL",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "BATTLE_ATTACK_PHYSICAL_Head",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.7,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "BATTLE_ATTACK_ITEM",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "BATTLE_ATTACK_ITEM",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "BATTLE_ATTACK_ITEM_Head",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.7,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "BATTLE_USE_SUPPORT_ITEM",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "BATTLE_USE_SUPPORT_ITEM",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "BATTLE_USE_SUPPORT_ITEM_Head",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.7,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "FIELD_USE_ITEM_HEAL",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "FIELD_USE_ITEM_HEAL",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "FIELD_USE_ITEM_HEAL_Head",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.7,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "FIELD_USE_ITEM_SEARCHER",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "FIELD_USE_ITEM_HEAL",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "FIELD_USE_ITEM_HEAL_Head",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.7,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "FIELD_USE_ITEM_CAMP",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "FIELD_USE_ITEM_HEAL",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "FIELD_USE_ITEM_HEAL_Head",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.7,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "BATTLE_ATTACK_MAGIC",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "BATTLE_ATTACK_MAGIC",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "BATTLE_ATTACK_MAGIC_Head",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.7,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "SYSTEMMENU_ON",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "SYSTEMMENU_ON",
                    "Loop": -1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "SYSTEMMENU_OFF",
            "Interrupts_Commands": [
                "SYSTEMMENU_ON"
                ]
        },
        {
            "External_Command_ID": "MAINMENU_ON",
            "Interrupts_Commands": "All"
        },
        {
            "External_Command_ID": "FALL_DAMAGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "FALL_DAMAGE_Chest",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "FALL_DAMAGE_Waist",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "FALL_DAMAGE_Leg",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "FALL_ENERGY",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "FALL_ENERGY_Chest",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "FALL_ENERGY_Waist",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "FALL_ENERGY_Leg",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "HIT_WAND",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "HIT_WAND",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "HIT_ROCK_1",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "HIT_ROCK_1",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "HIT_ROCK_2",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "HIT_ROCK_2",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "MOVE_WALL",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "MOVE_WALL",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "SHOT_EXPLOSION",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "SHOT_EXPLOSION_Waist",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "SHOT_EXPLOSION_Chest",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "SHOT_EXPLOSION_Hand",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "SHOT_EXPLOSION_Head",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "SHOT_EXPLOSION_Leg",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "SHOT_NORMAL",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "SHOT_NORMAL",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "SHOT_SCAN",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "SHOT_SCAN_Waist",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "SHOT_SCAN_Chest",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "SHOT_SCAN_Hand",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "SHOT_SCAN_Head",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "SHOT_SCAN_Leg",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "SHOT_WIDE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "SHOT_WIDE_Waist",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "SHOT_WIDE_Chest",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "SHOT_WIDE_Hand",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "SHOT_WIDE_Head",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "SHOT_WIDE_Leg",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ZIPLINE_OFF",
            "Interrupts_Commands": [
                "ZIPLINE_ON"
            ]
        },
        {
            "External_Command_ID": "ZIPLINE_ON",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "ZIPLINE_ON_Left",
                    "Loop": "infinity",
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Left",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Waist"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "ZIPLINE_ON_Right",
                    "Loop": "infinity",
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Right",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Waist"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "LONG_PRESS_ON",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "LONG_PRESS_ON",
                    "Loop": "infinity",
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "LONG_PRESS_OFF",
            "Interrupts_Commands": [
                "LONG_PRESS_ON"
            ]
        },
        {
            "External_Command_ID": "RIDE_ON",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "RIDE_ON",
                    "Loop": "infinity",
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "RIDE_OFF",
            "Interrupts_Commands": [
                "RIDE_ON"
            ]
        },
        {
            "External_Command_ID": "TREASUREBOX_FORCE_FAILED",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "TREASUREBOX_FORCE_FAILED",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "TREASUREBOX_FORCE_SUCCESS",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "TREASUREBOX_FORCE_SUCCESS",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "BATTLE_CHANGE_CHARACTER",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "BATTLE_CHANGE_CHARACTER",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "BATTLE_DAMAGE_LOW",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "BATTLE_DAMAGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "BATTLE_DAMAGE_NORMAL",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "BATTLE_DAMAGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 0.6,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 0.6,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 0.6,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 0.6,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "BATTLE_DAMAGE_HIGH",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "BATTLE_DAMAGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "BATTLE_BREAK",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "BATTLE_BREAK",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "BATTLE_DEAD",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "BATTLE_DEAD",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "BATTLE_LEVELUP",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "BATTLE_LEVELUP",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "PLACE_FURNITURE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "PLACE_FURNITURE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                }
            ]
        }
    ]
}