{
    "ExternalCommands": [
        {
            "External_Command_ID": "ChromaAnimations/BeStuck",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "BeStuck",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/CompleteContract",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "CompleteContract",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/CrashLeft_Low",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Crash_Low",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/CrashLeft_Medium",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Crash_Medium",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/CrashLeft_Strong",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Crash_Strong",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/CrashRight_Low",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Crash_Low",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/CrashRight_Medium",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Crash_Medium",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/CrashRight_Strong",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Crash_Strong",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/Delete",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Delete",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/Engine_Start",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Engine_Start",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.7,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                }
            ],
            "Interrupts_Commands": [
                "ChromaAnimations/Engine_Start",
                "ChromaAnimations/MotorRPM_Heavy",
                "ChromaAnimations/MotorRPM_Light",
                "ChromaAnimations/MotorRPM_Medium"
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/Engine_Stop",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Engine_Stop",
                    "Loop": -1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/Garage",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Garage",
                    "Loop": -1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/GarageOut",
            "Interrupts_Commands": [
                "ChromaAnimations/Garage"
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/PauseMenu",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Garage",
                    "Loop": -1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/PauseMenuOut",
            "Interrupts_Commands": [
                "ChromaAnimations/PauseMenu"
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/GearChange",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "GearChange",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/LeftWheel_Asphalt",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Wheel_Asphalt",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Leg"
                        }
                    ]
                }
            ],
            "Interrupts_Commands": [
                "ChromaAnimations/LeftWheel_Asphalt",
                "ChromaAnimations/LeftWheel_Grass",
                "ChromaAnimations/LeftWheel_Gravel",
                "ChromaAnimations/LeftWheel_Ice",
                "ChromaAnimations/LeftWheel_Sand",
                "ChromaAnimations/LeftWheel_Snow",
                "ChromaAnimations/LeftWheel_Water"
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/LeftWheel_Grass",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Wheel_Grass",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Leg"
                        }
                    ]
                }
            ],
            "Interrupts_Commands": [
                "ChromaAnimations/LeftWheel_Asphalt",
                "ChromaAnimations/LeftWheel_Grass",
                "ChromaAnimations/LeftWheel_Gravel",
                "ChromaAnimations/LeftWheel_Ice",
                "ChromaAnimations/LeftWheel_Sand",
                "ChromaAnimations/LeftWheel_Snow",
                "ChromaAnimations/LeftWheel_Water"
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/LeftWheel_Gravel",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Wheel_Gravel",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Leg"
                        }
                    ]
                }
            ],
            "Interrupts_Commands": [
                "ChromaAnimations/LeftWheel_Asphalt",
                "ChromaAnimations/LeftWheel_Grass",
                "ChromaAnimations/LeftWheel_Gravel",
                "ChromaAnimations/LeftWheel_Ice",
                "ChromaAnimations/LeftWheel_Sand",
                "ChromaAnimations/LeftWheel_Snow",
                "ChromaAnimations/LeftWheel_Water"
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/LeftWheel_Ice",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Wheel_Ice",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Leg"
                        }
                    ]
                }
            ],
            "Interrupts_Commands": [
                "ChromaAnimations/LeftWheel_Asphalt",
                "ChromaAnimations/LeftWheel_Grass",
                "ChromaAnimations/LeftWheel_Gravel",
                "ChromaAnimations/LeftWheel_Ice",
                "ChromaAnimations/LeftWheel_Sand",
                "ChromaAnimations/LeftWheel_Snow",
                "ChromaAnimations/LeftWheel_Water"
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/LeftWheel_Mud",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Wheel_Mud",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/LeftWheel_Sand",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Wheel_Sand",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Leg"
                        }
                    ]
                }
            ],
            "Interrupts_Commands": [
                "ChromaAnimations/LeftWheel_Asphalt",
                "ChromaAnimations/LeftWheel_Grass",
                "ChromaAnimations/LeftWheel_Gravel",
                "ChromaAnimations/LeftWheel_Ice",
                "ChromaAnimations/LeftWheel_Sand",
                "ChromaAnimations/LeftWheel_Snow",
                "ChromaAnimations/LeftWheel_Water"
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/LeftWheel_Snow",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Wheel_Snow",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Leg"
                        }
                    ]
                }
            ],
            "Interrupts_Commands": [
                "ChromaAnimations/LeftWheel_Asphalt",
                "ChromaAnimations/LeftWheel_Grass",
                "ChromaAnimations/LeftWheel_Gravel",
                "ChromaAnimations/LeftWheel_Ice",
                "ChromaAnimations/LeftWheel_Sand",
                "ChromaAnimations/LeftWheel_Snow",
                "ChromaAnimations/LeftWheel_Water"
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/LeftWheel_Water",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Wheel_Water",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Leg"
                        }
                    ]
                }
            ],
            "Interrupts_Commands": [
                "ChromaAnimations/LeftWheel_Asphalt",
                "ChromaAnimations/LeftWheel_Grass",
                "ChromaAnimations/LeftWheel_Gravel",
                "ChromaAnimations/LeftWheel_Ice",
                "ChromaAnimations/LeftWheel_Sand",
                "ChromaAnimations/LeftWheel_Snow",
                "ChromaAnimations/LeftWheel_Water"
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/LoadingCargo",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "LoadingCargo",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/MainMenu",
            "Interrupts_Commands": "All"
        },
        {
            "External_Command_ID": "ChromaAnimations/MotorRPM_Heavy",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Engine_Start",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.7,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                }
            ],
            "Interrupts_Commands": [
                "ChromaAnimations/Engine_Start",
                "ChromaAnimations/MotorRPM_Heavy",
                "ChromaAnimations/MotorRPM_Light",
                "ChromaAnimations/MotorRPM_Medium"
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/MotorRPM_Light",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Engine_Start",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.7,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 0.5,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 0.5,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 0.5,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                }
            ],
            "Interrupts_Commands": [
                "ChromaAnimations/Engine_Start",
                "ChromaAnimations/MotorRPM_Heavy",
                "ChromaAnimations/MotorRPM_Light",
                "ChromaAnimations/MotorRPM_Medium"
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/MotorRPM_Medium",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Engine_Start",
                    "Loop": -1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 0.7,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 0.7,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 0.7,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 0.7,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                }
            ],
            "Interrupts_Commands": [
                "ChromaAnimations/Engine_Start",
                "ChromaAnimations/MotorRPM_Heavy",
                "ChromaAnimations/MotorRPM_Light",
                "ChromaAnimations/MotorRPM_Medium"
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/NoMoreGas",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "NoMoreGas",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/Pick",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Pick",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/PullWinch",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "PullWinchHead",
                    "Loop": -1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 0.5,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "PullWinchChest",
                    "Loop": -1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "PullWinchWaist",
                    "Loop": -1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "PullWinchLeg",
                    "Loop": -1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/PullWinch_OFF",
            "Interrupts_Commands": [
                "ChromaAnimations/PullWinch"
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/PutGas",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "PutGas",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/ReleaseWinch",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "ReleaseWinch",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/RepairCars_Low",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "RepairCars_Low",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 0.5,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/RepairCars_Medium",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "RepairCars_Low",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 0.8,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/RepairCars_Strong",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "RepairCars_Low",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/Paint",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Paint",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/RightWheel_Asphalt",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Wheel_Asphalt",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Leg"
                        }
                    ]
                }
            ],
            "Interrupts_Commands": [
                "ChromaAnimations/RightWheel_Asphalt",
                "ChromaAnimations/RightWheel_Grass",
                "ChromaAnimations/RightWheel_Gravel",
                "ChromaAnimations/RightWheel_Ice",
                "ChromaAnimations/RightWheel_Sand",
                "ChromaAnimations/RightWheel_Snow",
                "ChromaAnimations/RightWheel_Water"
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/RightWheel_Grass",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Wheel_Grass",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Leg"
                        }
                    ]
                }
            ],
            "Interrupts_Commands": [
                "ChromaAnimations/RightWheel_Asphalt",
                "ChromaAnimations/RightWheel_Grass",
                "ChromaAnimations/RightWheel_Gravel",
                "ChromaAnimations/RightWheel_Ice",
                "ChromaAnimations/RightWheel_Sand",
                "ChromaAnimations/RightWheel_Snow",
                "ChromaAnimations/RightWheel_Water"
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/RightWheel_Gravel",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Wheel_Gravel",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Leg"
                        }
                    ]
                }
            ],
            "Interrupts_Commands": [
                "ChromaAnimations/RightWheel_Asphalt",
                "ChromaAnimations/RightWheel_Grass",
                "ChromaAnimations/RightWheel_Gravel",
                "ChromaAnimations/RightWheel_Ice",
                "ChromaAnimations/RightWheel_Sand",
                "ChromaAnimations/RightWheel_Snow",
                "ChromaAnimations/RightWheel_Water"
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/RightWheel_Ice",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Wheel_Ice",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Leg"
                        }
                    ]
                }
            ],
            "Interrupts_Commands": [
                "ChromaAnimations/RightWheel_Asphalt",
                "ChromaAnimations/RightWheel_Grass",
                "ChromaAnimations/RightWheel_Gravel",
                "ChromaAnimations/RightWheel_Ice",
                "ChromaAnimations/RightWheel_Sand",
                "ChromaAnimations/RightWheel_Snow",
                "ChromaAnimations/RightWheel_Water"
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/RightWheel_Mud",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Wheel_Mud",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/RightWheel_Sand",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Wheel_Sand",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Leg"
                        }
                    ]
                }
            ],
            "Interrupts_Commands": [
                "ChromaAnimations/RightWheel_Asphalt",
                "ChromaAnimations/RightWheel_Grass",
                "ChromaAnimations/RightWheel_Gravel",
                "ChromaAnimations/RightWheel_Ice",
                "ChromaAnimations/RightWheel_Sand",
                "ChromaAnimations/RightWheel_Snow",
                "ChromaAnimations/RightWheel_Water"
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/RightWheel_Snow",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Wheel_Snow",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Leg"
                        }
                    ]
                }
            ],
            "Interrupts_Commands": [
                "ChromaAnimations/RightWheel_Asphalt",
                "ChromaAnimations/RightWheel_Grass",
                "ChromaAnimations/RightWheel_Gravel",
                "ChromaAnimations/RightWheel_Ice",
                "ChromaAnimations/RightWheel_Sand",
                "ChromaAnimations/RightWheel_Snow",
                "ChromaAnimations/RightWheel_Water"
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/RightWheel_Water",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Wheel_Water",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Leg"
                        }
                    ]
                }
            ],
            "Interrupts_Commands": [
                "ChromaAnimations/RightWheel_Asphalt",
                "ChromaAnimations/RightWheel_Grass",
                "ChromaAnimations/RightWheel_Gravel",
                "ChromaAnimations/RightWheel_Ice",
                "ChromaAnimations/RightWheel_Sand",
                "ChromaAnimations/RightWheel_Snow",
                "ChromaAnimations/RightWheel_Water"
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/Rotate",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Rotate",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ChromaAnimations/WinchConnected",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "WinchConnected",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 0.7,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        }
    ],
    "Groups": [
        {
            "ID": "AllLeftTerrain",
            "Members": [
                "ChromaAnimations/LeftWheel_Asphalt",
                "ChromaAnimations/LeftWheel_Grass",
                "ChromaAnimations/LeftWheel_Gravel",
                "ChromaAnimations/LeftWheel_Ice",
                "ChromaAnimations/LeftWheel_Sand",
                "ChromaAnimations/LeftWheel_Snow",
                "ChromaAnimations/LeftWheel_Water"
            ]
        },
        {
            "ID": "AllMotor",
            "Members": [
                "ChromaAnimations/Engine_Start",
                "ChromaAnimations/MotorRPM_Heavy",
                "ChromaAnimations/MotorRPM_Light",
                "ChromaAnimations/MotorRPM_Medium"
            ]
        },
        {
            "ID": "AllRightTerrain",
            "Members": [
                "ChromaAnimations/RightWheel_Asphalt",
                "ChromaAnimations/RightWheel_Grass",
                "ChromaAnimations/RightWheel_Gravel",
                "ChromaAnimations/RightWheel_Ice",
                "ChromaAnimations/RightWheel_Sand",
                "ChromaAnimations/RightWheel_Snow",
                "ChromaAnimations/RightWheel_Water"
            ]
        }
    ]
}