{
    "ExternalCommands": [
        {
            "External_Command_ID": "ApplySticker",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "ApplySticker",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "CantPowerOn",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "CantPowerOn",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "CollectMoney",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "CollectMoney",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "FinishADay",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "FinishADay",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "InstallComponent",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "InstallComponent",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "LevelUp",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "LevelUp",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "LoosenScrew",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "LoosenScrew",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ObjectiveDone",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "ObjectiveDone",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "RemoveComponent",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "RemoveComponent",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Scanning",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Scanning",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "StopScanning",
			"Interrupts_Commands": [
				"Scanning"
			]
        },
        {
            "External_Command_ID": "SpendMoney",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "SpendMoney",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "SprayPaint",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "SprayPaint",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "TightenScrew",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "TightenScrew",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "TurnedOffPC",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "TurnedOffPC",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "TurnedOnPC",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "TurnedOnPC",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "UseAirCompressor",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "UseAirCompressor",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        }
    ]
}
