{
    "ExternalCommands": [
        {
            "External_Command_ID": "TakingAnomalyDamageEvent_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "TakingAnomalyDamageEvent_ChestLeft",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.2,
                            "Spatialization": "Left",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Chest"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "TakingAnomalyDamageEvent_ChestRight",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.2,
                            "Spatialization": "Right",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Chest"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "TakingAnomalyDamageEvent_LegLeft",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Leg"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "TakingAnomalyDamageEvent_LegRight",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Leg"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "TakingAnomalyDamageEvent_WaistLeft",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Wasit"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "TakingAnomalyDamageEvent_WasitRight",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Wasit"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "VitalsCriticalHealthEvent_ON",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "VitalsCriticalHealthEvent_ON",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 0.2,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "VitalsCriticalHealthEvent_OFF",
            "Interrupts_Commands": [
				"VitalsCriticalHealthEvent_ON"
			]
        },
        {
            "External_Command_ID": "TakingFarFrontBulletDamageEvent_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "BulletHitChest",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.5,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 0.5,
                            "Spatialization": "Global",
                            "Target": "Wasit"
                        },
                        {
                            "Gain": 0.5,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "TakingFarLeftBulletDamageEvent_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "BulletHitChest",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Wasit"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "TakingFarRightBulletDamageEvent_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "BulletHitChest",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Wasit"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "TakingFarBackBulletDamageEvent_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "BulletHitChest",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.5,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 0.5,
                            "Spatialization": "Global",
                            "Target": "Wasit"
                        },
                        {
                            "Gain": 0.5,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "TakingNearFrontMeleeDamageEvent_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "PhysicalHit",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.5,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 0.5,
                            "Spatialization": "Global",
                            "Target": "Wasit"
                        },
                        {
                            "Gain": 0.5,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "TakingNearLeftMeleeDamageEvent_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "PhysicalHit",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Wasit"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "TakingNearRightMeleeDamageEvent_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "PhysicalHit",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Wasit"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "TakingNearBackMeleeDamageEvent_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "PhysicalHit",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.5,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 0.5,
                            "Spatialization": "Global",
                            "Target": "Wasit"
                        },
                        {
                            "Gain": 0.5,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "TakingTrueDamageEvent_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "PhysicalHit",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.5,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 0.5,
                            "Spatialization": "Global",
                            "Target": "Wasit"
                        },
                        {
                            "Gain": 0.5,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "CombatHeadshotEvent_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "BulletHitHead",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "TakingChemicalDamageEvent_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "TakingChemicalDamageEvent_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Wasit"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "TakingBurnDamageEvent_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "TakingChemicalDamageEvent_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Wasit"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "TakingShockDamageEvent_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "TakingChemicalDamageEvent_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Wasit"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "VitalsDeathEvent_ON",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "VitalsDeathEvent_ON",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Wasit"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "CombatKnockdownEvent_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "CombatKnockdownEventChest",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "CombatKnockdownEventWaist",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "CombatKnockdownEventLeg",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "CombatStunEvent_ON",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "CombatStunEvent",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Wasit"
                        },
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 0.5,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "CombatStunEvent_OFF",
            "Interrupts_Commands": [
				"CombatStunEvent_ON"
			]
        },
        {
            "External_Command_ID": "CombatSuppressionEvent_ON",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "CombatSuppressionEvent",
                    "Loop": -1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Wasit"
                        },
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "CombatSuppressionEvent_OFF",
            "Interrupts_Commands": [
				"CombatSuppressionEvent_ON"
			]
        },
        {
            "External_Command_ID": "CombatObjectHitEvent",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "CombatObjectHitEvent",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Wasit"
                        },
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 0.5,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "TakingPhysicsDamageEvent_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "TakingPhysicsDamageEvent",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Wasit"
                        },
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "TakingWaterDamageEvent",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "TakingWaterDamageEvent",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Wasit"
                        },
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "VitalsCriticalStaminaEvent_ON",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "VitalsCriticalStaminaEvent",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Wasit"
                        },
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "CombatPlayerDetectionEvent_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "CombatPlayerDetectionEvent_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Wasit"
                        },
                        {
                            "Gain": 1,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "CombatPSYPunchEvent_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "CombatPSYPunchEvent",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "CombatFaustPSYPunchEvent_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "CombatPSYPunchEvent",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "PSYFieldEvent",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "PSYFieldEvent",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
         {
            "External_Command_ID": "AssaultRifle",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "AssaultRifleShotHand",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                },
				{
                    "Haptic_Effect": "AssaultRifleShotChest",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        }
                    ]
                },
				{
                    "Haptic_Effect": "AssaultRifleShotWaist",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        }
                    ]
                },
				{
                    "Haptic_Effect": "AssaultRifleShotLeg",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                },
				{
                    "Haptic_Effect": "AssaultRifleShotHead",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
         {
            "External_Command_ID": "PistolChest",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "PistolHand",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                },
				{
                    "Haptic_Effect": "PistolChest",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        }
                    ]
                },
				{
                    "Haptic_Effect": "PistolWaist",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        }
                    ]
                },
				{
                    "Haptic_Effect": "PistolLeg",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                },
				{
                    "Haptic_Effect": "PistolHead",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
         {
            "External_Command_ID": "ShotgunChest",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "ShotgunHand",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                },
				{
                    "Haptic_Effect": "ShotgunChest",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        }
                    ]
                },
				{
                    "Haptic_Effect": "ShotgunWaist",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        }
                    ]
                },
				{
                    "Haptic_Effect": "ShotgunLeg",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                },
				{
                    "Haptic_Effect": "ShotgunHead",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
         {
            "External_Command_ID": "SniperChest",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "SniperHand",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                },
				{
                    "Haptic_Effect": "SniperChest",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        }
                    ]
                },
				{
                    "Haptic_Effect": "SniperWaist",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        }
                    ]
                },
				{
                    "Haptic_Effect": "SniperLeg",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                },
				{
                    "Haptic_Effect": "SniperHead",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
         {
            "External_Command_ID": "SubmachineChest",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "SubmachineHand",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                },
				{
                    "Haptic_Effect": "SubmachineChest",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        }
                    ]
                },
				{
                    "Haptic_Effect": "SubmachineWaist",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        }
                    ]
                },
				{
                    "Haptic_Effect": "SubmachineLeg",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                },
				{
                    "Haptic_Effect": "SubmachineHead",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        }
    ]
}
