{
    "ExternalCommands": [
        {
            "External_Command_ID": "AttackChainsaw_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "AttackChainsawLeft_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "Head"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "AttackChainsawRight_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Right",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "AttackKick_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "AttackKick_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 0.1,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "AttackKickLegs_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "AttackKickWaist_Chest_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "AttackMele_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "AttackMele_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "AttackPistol_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "AttackPistol_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "AttackRiffle_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "AttackRiffle_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 0.7,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "AttackShotgun_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "AttackShotgun_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 2.0,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "AttackShotgunWaist_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "AttackShotgunChestLegs_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        }
                    ]
                }   
            ]
        },
        {
            "External_Command_ID": "BreakingGlass_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "BreakingGlass_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "BreakingGlass_LegsMERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "BreakingGlass_Waist_Chest_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "DamageContinous_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "DamageContinous_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "DamageNormal_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "DamageNormal_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "DamageSoft_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "DamageSoft_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "DamageStun_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "DamageStun_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "DeathScreen_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "DeathScreen_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "DeathScreen_ChestMERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "DeathScreen_WaistLegsMERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "HealDrink_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "HealDrink_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.6,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 0.6,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 0.6,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 0.6,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "HealSyringe_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "HealSyringe_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Heal_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Heal_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ItemCollected_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "ItemCollected_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 0.1,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ItsABread_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "ItsABread_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 0.1,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "JumpIntoAHole_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "JumpIntoAHole_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "JumpIntoAHole_ChestMERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "JumpIntoAHole_WaistMERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "JumpIntoAHoleLegs_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "GlimpseFromThePast_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "GlimpseFromThePast_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "GlimpseFromThePast_Chest_LegsMERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "GlimpseFromThePast_WaistMERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "LFOWExplosion_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "LFOWExplosion_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "PrisonTypewriter_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "PrisonTypewriter_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "PuzzleSolved_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "PuzzleSolved_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "PuzzleSolvedChest_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "PuzzleSolvedLegs_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                },
                {
                    "Haptic_Effect": "PuzzleSolvedWaist_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "SaveGame_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "SaveGame_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Hand"
                        },
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "StopAll",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "StopAll",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "StruggleLose_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "StruggleLose_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "StruggleWin_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "StruggleWin_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Struggle_OFF",
            "Interrupts_Commands": [
                "Struggle_ON"
            ]
        },
        {
            "External_Command_ID": "Struggle_ON",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Struggle_ON",
                    "Loop": "infinity",
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        }
    ]
}