{
    "ExternalCommands": [
        {
            "External_Command_ID": "../../../Frostpunk2/Content/LightingSyncEffects/RazerChroma/Construction_ChromaLink.chroma",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Construction_ChromaLink",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "../../../Frostpunk2/Content/LightingSyncEffects/RazerChroma/Cutscene_ChromaLink.chroma",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Cutscene_ChromaLink",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "../../../Frostpunk2/Content/LightingSyncEffects/RazerChroma/Chorister_ChromaLink.chroma",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Chorister",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "../../../Frostpunk2/Content/LightingSyncEffects/RazerChroma/FierceGhost_ChromaLink.chroma",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "FierceGhost_ChromaLink",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "../../../Frostpunk2/Content/LightingSyncEffects/RazerChroma/Gameplay_ChromaLink.chroma",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Gameplay_ChromaLink",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "../../../Frostpunk2/Content/LightingSyncEffects/RazerChroma/IdeaTree_ChromaLink.chroma",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "IdeaTree_ChromaLink",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "../../../Frostpunk2/Content/LightingSyncEffects/RazerChroma/Lens_ChromaLink.chroma",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Lens_ChromaLink",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 0.7,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 0.7,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 0.7,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "../../../Frostpunk2/Content/LightingSyncEffects/RazerChroma/Menu_ChromaLink.chroma",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Menu_ChromaLink",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "../../../Frostpunk2/Content/LightingSyncEffects/RazerChroma/Parliament_ChromaLink.chroma",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Parliament_ChromaLink",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 0.5,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 0.5,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 0.5,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "../../../Frostpunk2/Content/LightingSyncEffects/RazerChroma/PromiseBrokenDialog_ChromaLink.chroma",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "PromiseBrokenDialog_ChromaLink",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "../../../Frostpunk2/Content/LightingSyncEffects/RazerChroma/PromiseFulfilledDialog_ChromaLink.chroma",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "PromiseFulfilledDialog_ChromaLink",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "../../../Frostpunk2/Content/LightingSyncEffects/RazerChroma/TemperatureDrop_ChromaLink.chroma",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "TemperatureDrop_ChromaLink",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "../../../Frostpunk2/Content/LightingSyncEffects/RazerChroma/TemperatureRise_ChromaLink.chroma",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "TemperatureRise_ChromaLink",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 0.3,
                            "Spatialization": "Global",
                            "Target": "Head"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Chest"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Waist"
                        },
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "Leg"
                        }
                    ]
                }
            ]
        }
    ]
}